<footer class="container-fluid bg-light">
	{# <div class="row">
		<section class="col">
			Contact
		</section>
		<section class="col">
			A Propos de nous
		</section>
		<section class="col">
			Boutique
		</section>
	</div> #}
</footer>
